<% if @division.employees().any?() %>
  <h3>Here are all the employees in this division:</h3>

  <ul>
    <% @division.employees().each() do |employee| %>
      <li><%= employee.name() %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no employees in this division yet!</p>
<% end %>


<h1>Update your division: <%=@division.name() %></h1>

<form action="/divisions/<%= @division.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="name">Division</label>
  <input type="text" name="name">
  <button type="submit">Update!</button>
</form>

<form action="/divisions/<%= @division.id() %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" name="button">Delete</button>
</form>

<a href="/">Home</a>
