<h1>Add a new division</h1>

<form action="/divisions" method="post">
  <label for="name">Add a new Division</label>
  <input type="text" name="name">
  <button type="submit">Add</button>
</form>


<a href="/">Home</a>
