<h1>Add a new employee</h1>

<form action="/employee" method="post">
  <label for="name">Add a new employee</label>
  <input type="text" name="name">
  <button type="submit">Add a employee</button>
</form>


<a href="/">Home</a>
